<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @user.last_name %> !!!</h1>
    <p>
     on vous previent que le participant qui a cette e-mail : <%= @user.email %> participe aux evenements que vous aver créer.
    </p>
    <p>
     Le titre de l'evenement est ' le <%= @event.description%>.
    </p>
    <p> À très vite!
  </body>
</html>